# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.gradle
build/
.idea/
*.iws
*.iml
*.ipr
out/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# C#
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*_i.c
*_p.c
*_h.h
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
**/Properties/launchSettings.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]uild[Ll]ogs/
*.log
.idea/
*.sln.iml

# Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a
*.out
*.cov
go.work
*.test
vendor/
.idea/
*.swp
*~
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints
.python-version
.mypy_cache/
.vscode/
